@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@keyframes text-anim {0% {color: red;} 25% {color: orange;} 50% {color: yellow;} 75% {color: green;} 100% {color: blue;} }

body {
    font-family: "Roboto Mono", monospace;
    background-color: white;
    color: black;
}

@media (max-width: 800px) {
    ul {
      flex-direction: column !important;
    }

    li {
        border-right: none !important;
        border-bottom: 10px solid transparent;
    }

    li:last-child {
        border-bottom: none;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: white;
}

.header {
    background-color: transparent;
    width: 63.5vw;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main {
    background-color: black;
    color: white;
    width: 62vw;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    background-color: black;
    color: white;
    width: 62vw;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    flex: auto;
    text-align: center;
    border-right: 10px solid transparent;
}

li:last-child {
    border-right: none;
}

li a{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-decoration: none !important;
}

li a:hover {
    color: white;
    background-color: gray;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: white;
}

.rainbow:hover {
    color: red;
    animation: text-anim 1s infinite;
    font-style: italic;
}
